# Pandas学習

In [5]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
#Create a index
dates = pd.date_range("20170501", periods=6)
dates

DatetimeIndex(['2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04',
               '2017-05-05', '2017-05-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
#Create a DatFrame
df = pd.DataFrame(np.random.randn(6,4),index = dates, columns = list("ABCD"))
df

                   A         B         C         D
2017-05-01 -0.041870 -0.828428 -0.132901 -0.175675
2017-05-02 -0.139307  0.665302  2.541811 -0.733586
2017-05-03  0.303279  0.487152 -0.748661  1.081548
2017-05-04  0.541761 -0.995827  0.467700 -0.374428
2017-05-05 -0.298987  1.483834  0.094129 -0.065697
2017-05-06 -0.881087 -0.567615  1.951362 -0.561868

In [8]:
#ラベル別にSeriesを作るイメージでDataFrameを作成。
#こっちだと、ラベルごとに別々のdtypesを持てる
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20170515'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2017-05-15  1.0  3   test  foo
1  1.0 2017-05-15  1.0  3  train  foo
2  1.0 2017-05-15  1.0  3   test  foo
3  1.0 2017-05-15  1.0  3  train  foo

In [9]:
#データ・タイプの確認
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [10]:
#インデックス（行名）を確認
df.index

Wall time: 0 ns

DatetimeIndex(['2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04',
               '2017-05-05', '2017-05-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
#列名を確認
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [23]:
#値だけを見る
df.values

array([[-2.13793075, -0.68268658,  0.21627209, -0.30485287],
       [-0.27839366, -0.38375493,  0.66781945,  0.8157641 ],
       [-0.11240499, -0.22870504, -0.21238766,  0.25453557],
       [ 0.85991621,  0.54131081, -0.42331024, -0.89761476],
       [ 0.55678963,  0.44345073,  1.08394236,  0.04471061],
       [-1.87349527,  0.36129519,  0.62296212, -1.64826694]])

In [24]:
#行列の反転
df.T

   2017-05-01  2017-05-02  2017-05-03  2017-05-04  2017-05-05  2017-05-06
A   -2.137931   -0.278394   -0.112405    0.859916    0.556790   -1.873495
B   -0.682687   -0.383755   -0.228705    0.541311    0.443451    0.361295
C    0.216272    0.667819   -0.212388   -0.423310    1.083942    0.622962
D   -0.304853    0.815764    0.254536   -0.897615    0.044711   -1.648267

In [27]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    1.226681
b    1.262219
c    1.276916
d   -0.299805
e   -1.069626
dtype: float64

In [ ]:
H = Highchart(width=300, height=200)
H.add_data_set([1, 2, 3], 'area', 'data1')
H.add_data_set([4, 5, 6], 'bar', 'data2')
H